@model GeekStream.Core.ViewModels.ArticleViewModel

@{
    ViewData["Title"] = "Details";
}

    
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="card-navbar">
                        <p>@Model.Category</p>
                        <p>@Model.PublishedDate</p>
                    </div>
                    <h3> @Model.Title</h3>
                    <p>@Model.Content</p>
                    <div class="d-flex justify-content-between">
                        <b>@Model.Author</b>
                        <p>@Model.Rating</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
