@model GeekStream.Core.ViewModels.ArticleViewModel

@{
    ViewData["Title"] = "Details";
}

    
<div class="card mb-2">
      <div class="card-body">
            <div class="card-navbar">
                <a name="category" asp-controller="Categories" asp-action="Index" asp-route-category="@Model.CategoryId">
                    @Model.Category
                </a>
                <p>@Html.DisplayFor(modelItem => Model.PublishedDate)</p>
                <a asp-controller="Users" asp-action="UserProfile" asp-route-id="@Model.AuthorId">@Html.DisplayFor(modelItem => Model.Author)</a>
            </div>
                <h3 class="card-title"> @Html.DisplayFor(modelItem => Model.Title)</h3>
                    <img src="/images/@Url.Content(Model.Image)"/>
                <p>@Html.DisplayFor(modelItem => Model.Content)</p>
            <div class="text-right mb-0">
                <p>@Html.DisplayFor(modelItem => Model.Rating)</p>
            </div>
      </div>
</div>
