@model IEnumerable<GeekStream.Core.ViewModels.ArticleViewModel>

@{
    ViewData["Title"] = "Index";
}

    @foreach (var item in Model)
    {
            <div class="card mb-2">
                <div class="card-body">
                    <div class="card-navbar">
                    <a name="category" asp-controller="Categories" asp-action="Index" asp-route-category="@item.CategoryId">
                        @item.Category
                    </a>
                        <p>@Html.DisplayFor(modelItem => item.PublishedDate)</p>
                        <a asp-controller="Users" asp-action="UserProfile" asp-route-name="@item.Author">@Html.DisplayFor(modelItem => item.Author)</a>
                    </div>
                    <h3> @Html.DisplayFor(modelItem => item.Title)</h3>
                    @*
                    <img src="@Url.Content(item.Images.First().ImgPath)"/>
                    *@
                    <p>@Html.DisplayFor(modelItem => item.Content)</p>
                    <div class="text-right mb-0">
                        <p>@Html.DisplayFor(modelItem => item.Rating)</p>
                    </div>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>
    }

