@model IEnumerable<GeekStream.Core.ViewModels.ArticleViewModel>

@{
    ViewData["Title"] = "Index";
}

    @foreach (var item in Model)
    {
    <div class="row mb-2">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="card-navbar">
                        <p>@Html.DisplayFor(modelItem => item.Category)</p>
                        <p>@Html.DisplayFor(modelItem => item.PublishedDate)</p>
                        <p>@Html.DisplayFor(modelItem => item.Author)</p>
                    </div>
                    <a asp-controller="Articles" asp-action="Details" asp-route-id="@item.Id">
                        <h3> @Html.DisplayFor(modelItem => item.Title)</h3>
                    </a>
                    <p>@Html.DisplayFor(modelItem => item.Content)</p>
                    <div class="text-right mb-0">
                        <p>@Html.DisplayFor(modelItem => item.Rating)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
