@model IEnumerable<GeekStream.Core.Entities.Article>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="row">
    <div class="col-sm-3">
        <div style="height: 200px; background-color: aqua">Dummy</div>
    </div>
    <div class="feed col-sm-6">
    @foreach (var item in Model)
    {
<div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h2> @Html.DisplayFor(modelItem => item.Title)</h2>
                    <h4>@Html.DisplayFor(modelItem => item.PostedOn)</h4>
                    @*
                    <img src="@Url.Content(item.Images.First().ImgPath)"/>
                    *@
                    <p>@Html.DisplayFor(modelItem => item.ShortDescription)</p>
                </div>
            </div>
        </div>
    </div>
    }
</div>
    <div class="col-sm-3">
        <div style="height: 200px; background-color: aqua">Dummy</div>
    </div>
</div>
@*
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        $1$
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
        </tr>
#1#
        
}
    *@
    </tbody>
</table>
