@using GeekStream.Core.Entities
@model GeekStream.Core.ViewModels.Article.ArticleDetailsViewModel;
@{

    <script type="text/javascript">
    </script>

    var articleId = @Model.Id;
<div class="card mb-2 card-8px-border shadow-sm">
    <div class="card-body">
        <div class="card-navbar justify-content-between">
            <div class="navbar-right">
                <a name="category" asp-controller="Categories" asp-action="Index" asp-route-category="@Model.CategoryId" class="text-dark">
                <img class="category__icon" width="20" src="/images/@Model.CategoryIcon.FileName"/>
                    @Model.Category
                </a>
                @Html.DisplayFor(modelItem => Model.PublishedDate)
            </div>
            <div class="navbar-left">
                <a asp-controller="Users" asp-action="UserProfile" asp-route-id="@Model.AuthorId" class="text-dark">
                <img class="user__icon" width="20" src="/images/@Model.UserIcon.FileName"/>
                    @Html.DisplayFor(modelItem => Model.Author)
                </a>
            </div>
        </div>
        <h3 class="card-title font-weight-bold"> @Html.DisplayFor(modelItem => Model.Title)</h3>
        <p class="text-muted mb-2">@Html.DisplayFor(modelItem => Model.Content)</p>
        <div id="images">
            @foreach (var image in Model.Images)
            { 
            <img data-enlargeable src="~/images/@image.FileName" style="cursor: zoom-in" width=" 100" />
            }
        </div>
        <div class="d-flex mb-0 justify-content-between float-right align-items-center">
            <form asp-controller="Vote" asp-action="ProcessVotes" class="vote__post mr-2" articleId="@Model.Id">
                <input type="hidden" asp-for="@articleId"/>
                <input type="hidden" name="type" value="@VoteType.UpVote" class="vote"/>
                <img type="image" src="/images/upvote.png"/>
            </form>
            <p class="mr-2" id="rating__@Model.Id">@Html.DisplayFor(modelItem => Model.Rating)</p>
            <form asp-controller="Vote" asp-action="ProcessVotes" class="vote__post" articleId="@Model.Id">
                <input type="hidden" asp-for="@articleId"/>
                <input type="hidden" name="type" value="@VoteType.DownVote" class="vote"/>
                <img  type="image" src="/images/downvote.png"/>
            </form>
        </div>
        @{
            if (Model.Comments.Any())
            {
                <h5>Комментарии (@Model.Comments.Count())</h5>
                foreach (var item in Model.Comments)
                {
                    var commentId = item.Id;
                    <div class="comment">
                        <div class="comment-navbar">
                            <img/>
                            <b>@item.UserName</b>
                        </div>
                        <div class="comment-body">
                            <span class="comment-text">
                                @item.Content
                            </span>
                        </div>
                        <div class="comment-footer d-flex justify-content-between">
                            <b class="comment-reply">
                                Ответить
                            </b>
                                <div class="d-flex mb-0 justify-content-between float-right align-items-center">
                                    <form asp-controller="Vote" asp-action="ProcessVotesOnReply" class="vote__comment mr-2" commentId="@item.Id">
                                        <input type="hidden" asp-for="@commentId"/>
                                        <input type="hidden" name="type" value="@VoteType.UpVote" class="vote"/>
                                        <img type="image" src="/images/upvote.png"/>
                                    </form>
                                    <p class="mr-2" id="rating__@item.Id">@Html.DisplayFor(modelItem => item.Rating)</p>
                                    <form asp-controller="Vote" asp-action="ProcessVotesOnReply" class="vote__comment" commentId="@item.Id">
                                        <input type="hidden" asp-for="@commentId"/>
                                        <input type="hidden" name="type" value="@VoteType.DownVote" class="vote"/>
                                        <img type="image" src="/images/downvote.png"/>
                                    </form>
                                </div>

                            </div>
                        </div>
                }
            }
            else
            {
                <h5>Комментариев пока нет</h5>
            }
            if (User.Identity.IsAuthenticated)
            {
                <form asp-action="Comment" asp-controller="Articles">
                    <div class="form-row">
                        <div class="col-10">
                            <input type="hidden" name="articleId" asp-for="@Model.Id"/>
                            <input type="text" class="form-control" name="text" placeholder="Ваш комментарий">
                        </div>
                        <div class="col-2">
                            <input type="submit" class="btn btn-outline-light" value="Отправить"/>
                        </div>
                    </div>
                </form>
            }
        }
    </div>
</div>
}
