@using GeekStream.Core.Entities
@model GeekStream.Core.ViewModels.ArticleViewModel;

<div class="card mb-2">
    <div class="card-body rounded-lg">
        <div class="card-navbar justify-content-between">
            <div class="navbar-right">
                <a name="category" asp-controller="Categories" asp-action="Index" asp-route-category="@Model.CategoryId">
                    @Model.Category
                </a>
                @Html.DisplayFor(modelItem => Model.PublishedDate)
            </div>
            <div class="navbar-left">
                <a asp-controller="Users" asp-action="UserProfile" asp-route-id="@Model.AuthorId">@Html.DisplayFor(modelItem => Model.Author)</a>
            </div>
        </div>
        <h3 class="card-title"> @Html.DisplayFor(modelItem => Model.Title)</h3>
        @foreach (var image in Model.Images)
        {
            <img src="/images/@image.FileName"/>
        }
        <p>@Html.DisplayFor(modelItem => Model.Content)</p>
        <div class="text-right mb-0">
            <form asp-controller="Vote" asp-action="ProcessVotes">
                <input type="hidden" asp-for="@Model.Id"/>
                <input type="hidden" name="type" value="@VoteType.UpVote"/>
                <input type="submit" class="btn btn-success"/>
            </form>
            <p>@Html.DisplayFor(modelItem => Model.Rating)</p>
            <form asp-controller="Vote" asp-action="ProcessVotes">
                <input type="hidden" asp-for="@Model.Id"/>
                <input type="hidden" name="type" value="@VoteType.DownVote"/>
                <input type="submit" class="btn btn-danger"/>
            </form>
        </div>
    </div>
</div>