@using GeekStream.Core.Entities
@model GeekStream.Core.ViewModels.User.UserViewModel

@{
    ViewData["Title"] = Model.UserName;
}


<div class="card mb-2 rounded-0">
    <div class="card-body d-flex justify-content-between align-items-center pt-3 pb-3">
            <div class="float-left d-flex align-items-center">
                <img class="user__icon mr-3" width="60" src="/images/@Model.UserIcon.FileName"/>
                <h3 class="card-title mb-0 mr-2">@Model.UserName</h3>
                <p>Рейтинг: @Model.Rating</p>
            </div>
            <div class="float-right d-flex align-items-center">
                @if (Model.UserMail != User.Identity.Name)
                {
                    @if (Model.IsSubscribed)
                    {
                        <form asp-controller="Users" asp-action="Unsubscribe">
                            <input type="hidden" asp-for="@Model.Id"/>
                            <input class="btn btn-outline-primary" type="submit" value="✓ Вы подписаны"/>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Users" asp-action="Subscribe">
                            <input type="hidden" asp-for="@Model.Id"/>
                            <input class="btn btn-primary" type="submit"value="Подписаться"/>
                        </form>
                    }
                    <a asp-controller="Chats" asp-action="CreatePrivateRoom" asp-route-id="@Model.Id" class="btn btn-outline-light">Написать</a>
                }

            </div>
    </div>
</div>

<h3 mb-2>Статьи от данного автора</h3>
@foreach (var item in Model.Articles)
{
  var articleId = item.Id;
    var categoryIcon = item.CategoryIcon.FileName;
    var userIcon = item.UserIcon.FileName;
    <div class="card mb-2 card-8px-border shadow-sm">
        <div class="card-body">
            <div class="card-navbar justify-content-between">
                <div class="navbar-right">
                    <a name="category" asp-controller="Categories" asp-action="Index" asp-route-category="@item.CategoryId" class="text-dark">
                    <img class="category__icon" width="20" src="/images/@categoryIcon"/>
                        @item.Category
                    </a>
                    @Html.DisplayFor(modelItem => item.PublishedDate)
                </div>
                <div class="navbar-left">
                    <a asp-controller="Users" asp-action="UserProfile" asp-route-id="@item.AuthorId" class="text-dark">
                        <img class="user__icon" width="20" src="/images/@userIcon"/>
                        @Html.DisplayFor(modelItem => item.Author)
                    </a>
                </div>
            </div>
            <a asp-controller="Articles" asp-action="Details" asp-route-id="@item.Id" class="text-dark">
                <h3 class="card-title font-weight-bold"> @Html.DisplayFor(modelItem => item.Title)</h3>
            </a>
            <p class="text-muted mb-2">@Html.DisplayFor(modelItem => item.Content)</p>
            <div class="d-flex justify-content-between">
                <div class="float-right d-flex align-items-center">
                    <img src="/images/comments.png" style="height: 20px" class="mr-2"/>
                    <p class="text-muted">@item.CommentCount</p>
                </div>
                
        <div class="d-flex mb-0 justify-content-between float-right align-items-center">
            <form asp-controller="Vote" asp-action="ProcessVotes" class="vote__post mr-2" articleId="@item.Id">
                <input type="hidden" asp-for="@articleId"/>
                <input type="hidden" name="type" value="@VoteType.UpVote" class="vote"/>
                <img type="image" src="/images/upvote.png"/>
            </form>
            <p class="mr-2" id="rating__@item.Id">@Html.DisplayFor(modelItem => item.Rating)</p>
            <form asp-controller="Vote" asp-action="ProcessVotes" class="vote__post" articleId="@item.Id">
                <input type="hidden" asp-for="@articleId"/>
                <input type="hidden" name="type" value="@VoteType.DownVote" class="vote"/>
                <img  type="image" src="/images/downvote.png"/>
            </form>
                </div>
            </div>
        </div>
    </div>
}
