@using GeekStream.Core.Entities
@model GeekStream.Core.ViewModels.UserViewModel

@{
    ViewData["Title"] = Model.UserName;
}


<div class="card mb-2">
    <div class="card-body">
        <div class="card-navbar justify-content-between align-items-center">
            <img class="user__icon" width="80" src="/images/@Model.UserIcon.FileName"/>
            <h3 class="card-title">@Model.UserName</h3>
            <p>RATING: @Model.Rating</p>
            <div>
                @if (Model.UserMail != User.Identity.Name)
                {
                    @if (Model.IsSubscribed) 
                    {
                        <form asp-controller="Users" asp-action="Unsubscribe">
                            <input type="hidden" asp-for="@Model.Id"/>
                            <input class="btn btn-outline-primary" type="submit" value="✓ Вы подписаны"/>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Users" asp-action="Subscribe">
                            <input type="hidden" asp-for="@Model.Id"/>
                            <input class="btn btn-primary" type="submit"value="Подписаться"/>
                        </form>
                    }
                    <form asp-controller="Chats" asp-action="CreatePrivateRoom">
                        <input type="hidden" asp-for="@Model.Id"/>
                        <input type="submit" class="btn btn-outline-light" value="Написать"/>
                    </form>
                }

            </div>
        </div>
    </div>
</div>

<h3 mb-2>Статьи от данного автора</h3>
@foreach (var item in Model.Articles)
{
    var articleId = item.Id;
    <div class="card mb-2">
        <div class="card-body">
            <div class="card-navbar">
                                <div class="navbar-right">
                    <a name="category" asp-controller="Categories" asp-action="Index" asp-route-category="@item.CategoryId">
                    <img class="category__icon" width="20" src="/images/@item.CategoryIcon.FileName"/>
                        @item.Category
                    </a>
                    @Html.DisplayFor(modelItem => item.PublishedDate)
                </div>
                <div class="navbar-left">
                    <a asp-controller="Users" asp-action="UserProfile" asp-route-id="@item.AuthorId">
                        <img class="user__icon" width="20" src="/images/@item.UserIcon.FileName"/>
                        @Html.DisplayFor(modelItem => item.Author)
                    </a>
                </div>
                </div>
            <a asp-controller="Articles" asp-action="Details" asp-route-id="@item.Id">
                <h3 class="card-title"> @Html.DisplayFor(modelItem => item.Title)</h3>
            </a>
            <p>@Html.DisplayFor(modelItem => item.Content)</p>
            <div class="text-right mb-0">
            <form asp-controller="Vote" asp-action="ProcessVotes">
                <input type="hidden" asp-for="@articleId"/>
                <input type="hidden" name="type" value="@VoteType.UpVote"/>
                <input type="submit" class="btn btn-success"/>
            </form>
            <p>@Html.DisplayFor(modelItem => item.Rating)</p>
                <form asp-controller="Vote" asp-action="ProcessVotes">
                    <input type="hidden" asp-for="@articleId"/>
                    <input type="hidden" name="type" value="@VoteType.DownVote"/>
                    <input type="submit" class="btn btn-danger"/>
                </form>
            </div>
        </div>
    </div>
}
